{% extends 'base.html' %}

{% block title %}Edit System{% endblock %}

{% block content %}
    <h1>Edit {{ system.name }} System</h1>

    <form class="" action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <br>or<br><br>

    <a href="{% url 'poam:upload-artifact' system.id %}">Upload Artifacts</a><br>
    <a href="{% url 'poam:upload-poam' system.id %}">Upload POAM</a><br>
    <a href="{% url 'poam:upload-device' system.id %}">Upload Devices</a><br>
    <a href="{% url 'poam:add-device' system.id %}">Add Device</a><br>
    <a href="{% url 'poam:select-device' system.id %}">Edit Devices</a><br>
    <a href="{% url 'poam:export-poam' system.id %}">Export POA&M</a><br>
    <a href="{% url 'poam:export-hw-sw-list' system.id %}">Export HW/SW List</a>

{% endblock %}
