{% extends "base.html" %}

{% block title %}New System{% endblock %}

{% block content %}
    <h1>New System</h1>
    {% if form.errors %}
        <p>There was an error creating your system</p>
    {% endif %}

    <div class="">
        <form action="{% url "poam:new-system" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><a href="{% url "poam:new-poc" %}">Create a new Point of Contact</a></p>
            <p><input type="submit" value="Submit"></p>
        </form>

    </div>

{% endblock %}
