{% extends "base.html" %}

{% block title %}Upload Devices{% endblock %}

{% block content %}
    <h1>Upload Devices</h1>
    {% if form.errors %}
        <p>There was an error creating your system</p>
    {% endif %}

    <div>
        <h3>System: {{ system }}</h3>
         <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Upload</button>
        </form><br>
         <a href="{% url 'poam:edit-system' system.id %}">Edit System</a>
    </div>

{% endblock %}
